<div class="container">
  <div class="header-content">
    <div class="info">
      <img src="../../../../../assets/lg.png" alt="">
      <div class="text">
        <h2 class="green">FATEC</h2>
        <h2 class="brown">Shunji Nishimura</h2>
      </div>
    </div>
  </div>

  <div class="campo-cards">
    <div  class="card">
      <h3>item.estufa</h3>
      <div class="information">
        <div class="linha" style="gap:2px">
          <div class="group">
            <img src="../../../assets/cloud.svg" alt="">
            <p>item.tempºc</p>
          </div>
          <div class="group">
            <img src="../../../assets/clock.svg" alt="">
            <p>item.horario</p>
          </div>
        </div>
        <div class="linha">
          <div class="group">
            <img src="../../../assets/water.svg" alt="">
            <p>item.umidade%</p>
          </div>
          <div class="group" style="padding-left: 40px;">
            <img src="../../../assets/pointer.svg" alt="">
            <p>item.localizacao</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="channel-info">
  <h2>Informações do Canal</h2>
  <p><strong>ID:</strong> {{ channel?.id }}</p>
  <p><strong>Nome:</strong> {{ channel?.name }}</p>
  <p><strong>Latitude:</strong> {{ channel?.latitude }}</p>
  <p><strong>Longitude:</strong> {{ channel?.longitude }}</p>
  <p><strong>Campo 1:</strong> {{ channel?.field1 }}</p>
  <p><strong>Campo 2:</strong> {{ channel?.field2 }}</p>
  <p><strong>Campo 3:</strong> {{ channel?.field3 }}</p>
  <p><strong>Criado em:</strong> {{ channel?.created_at | date: 'medium' }}</p>
  <p><strong>Atualizado em:</strong> {{ channel?.updated_at | date: 'medium' }}</p>
  <p><strong>Último ID de Entrada:</strong> {{ channel?.last_entry_id }}</p>
</div>

<div class="feeds-list">
  <h2>Feeds</h2>
  <table>
    <thead>
      <tr>
        <th>Data de Criação</th>
        <th>ID da Entrada</th>
        <th>Campo 1 Temperatura do ar</th>
        <th>Campo 2 Umidade do ar</th>
        <th>Campo 3 Umidade do solo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let feed of feeds">
        <td>{{ feed.created_at | date: 'medium' }}</td>
        <td>{{ feed.entry_id }}</td>
        <td>{{ feed.field1 }}</td>
        <td>{{ feed.field2 }}</td>
        <td>{{ feed.field3 }}</td>
      </tr>
    </tbody>
  </table>
</div>
