<div class="container">
    <div class="content">
        <div class="card">
			<div class="header-card">
                <img src="../../../assets/lg.png" alt="logo">
                <div class="text-header-card">
                    <h2 class="green">FATEC</h2>
                    <h2 class="brown">Shunji Nishimura</h2>
                </div>
            </div>
            <div class="content-card">
                <h3>Escolher a estufa e ver as informações</h3>
            </div>
            <div class="footer-card">
                <button [routerLink]="['/listing']">Entrar</button>
            </div>
		</div>
    </div>
</div>
