<div class="container" id="print-content">
  <div class="header-content">
      <div class="info">
          <img src="../../../../../assets/lg.png" alt="">
          <div class="text">
              <h2 class="green">FATEC</h2>
              <h2 class="brown">Shunji Nishimura</h2>
          </div>
      </div>

  </div>
  <div class="header-content">
      <div style="display: flex;flex-direction: column; gap:8px">
          <h2 class="green">{{ channel?.name }}</h2>
          <h3 class="green-a">{{ channel?.created_at | date: 'dd/MM/yyyy HH:mm:ss' }}</h3>
      </div>
      <div style="display: flex; gap: 8px">
          <button style="display: flex;align-items: center; gap: 8px"  *ngIf="viewMode === 'table'" (click)="exportToExcel()">
              <img src="../../../assets/arrow-down.svg" alt="ícone download">
              Exportar Planilha
          </button>
          <button style="display: flex;align-items: center; gap: 8px"  *ngIf="viewMode === 'chart'" (click)="downloadChartAsPng()">
            <img src="../../../assets/arrow-down.svg" alt="ícone download">
            Exportar Gráfico
          </button>

      </div>
  </div>

  <div class="radio-buttons">
      <label>
          <input type="radio" name="view" value="table" [(ngModel)]="viewMode" (change)="toggleView('table')">
          Tabela
      </label>
      <label>
          <input type="radio" name="view" value="chart" [(ngModel)]="viewMode" (change)="toggleView('chart')">
          Gráfico
      </label>
  </div>

  <div style="display: flex;justify-content: center;">
    <div class="table-wrapper" *ngIf="viewMode === 'table'">
      <table class="responsive-table">
          <thead>
              <tr>
                  <th class="header-cell-one">{{ channel?.field1 }} Do Ambiente</th>
                  <th class="header-cell-two">{{ channel?.field2 }} Do Ambiente</th>
                  <th class="header-cell-two">Temperatura do solo</th>
                  <th class="header-cell-three">Data e hora</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let feed of feeds">
                <td class="data-cell">{{ feed.field1 }}%</td>
                <td class="data-cell">{{ feed.field2 || 0 }}%</td>
                <td class="data-cell">32%</td>
                <td class="data-cell">{{ feed.created_at  | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="viewMode === 'chart'" class="card">
    <p-chart #chart type="line" [data]="data" [options]="options" class="small-chart"></p-chart>
  </div>

</div>
