<div class="container" id="print-content">
    <div class="header-content">
        <div class="info">
            <img src="../../../../../assets/lg.png" alt="">
            <div class="text">
            <h2 class="green">FATEC</h2>
            <h2 class="brown">Shunji Nishimura</h2>
            </div>
        </div>
        <button>Exportar PDF</button>

        <button>Exportar Planilha</button>
    </div>
    <div class="table-responsive">

      <!-- dashboard.component.html -->
<div class="dashboard-container">
  <h2>Detalhes da Estufa: {{ estufa }}</h2>
  <!-- Aqui você pode adicionar mais detalhes conforme sua necessidade -->
</div>

      <h2 class="green">listaService.estufaSelecionada</h2>
      <h3 class="green-a">20/05/2023</h3>
        <div class="table">
            <table class="content-table">
              <thead>
                <tr>
                  <th>Temperatura</th>
                  <th>Umidade</th>
                  <th>Hora</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>item.temp</td>
                  <td>item.umid</td>
                  <td>item.hora</td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
</div>
