.container {
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
  display: flex;
  flex-direction: column;
  // width: 100vw;
  gap: 20px;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 28px;

    .info {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 16px;

      img {
        width: 64px;
        height: 64px
      }

      .text {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        gap: 4px;

        h2 {
          font-weight: bold;
          font-size: 24px;
        }

        .green {
          color: var(--color-primary)
        }

        .brown {
          color: var(--color-secondary)
        }
      }
    }

    button {
      width: 180px;
      height: 40px;
      background: var(--color-primary);
      border-radius: 5px;
      color: #fff;
      border: none;
      font-weight: 500;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: #4f892d;
        transition: 0.3s;
      }
    }
  }

  // Tabela
  .table-responsive {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;


    table {
      border-collapse: collapse;
      width: 702px;
      margin: auto;
      font-size: 14px;
      text-align: left;
      background-color: #fff;
    }

    table th,
    table td {
      padding: 12px;
      border: 1px solid #ddd;
      text-align: center;

      border: none;
    }


    table th {
      background-color: var(--color-primary);
      color: #fff;
      font-weight: 500;
      text-align: center;
    }

    table tr:nth-child(even) {
      background-color: #f9f9f9;
    }
  }
}


//Css Table

.table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 250px;
  overflow-x: auto;
}

.content-table {

  border-collapse: collapse;
  margin: 0;
  font-size: 0.9em;
  width: 90px;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

.content-table thead tr {
  background-color: var(--color-primary);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}


.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}




td,
th {
  font-weight: 500;
  text-transform: uppercase;
}

td {
  color: var(--gray-color-scale1);
  text-transform: initial;
}


.green {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 20px;

}
.green-a {
  color: var(--color-secondary);
  font-weight: 500;
  font-size: 16px;

}

.radio-buttons {
  margin: 16px 0;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  label {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #333;

    input[type="radio"] {
      accent-color: #589c32;
      margin-right: 8px;
    }
  }
}

/* Estilos básicos da tabela */
.table-wrapper {
  overflow-x: auto; /* Permite rolagem horizontal quando necessário */
  -webkit-overflow-scrolling: touch; /* Melhora a rolagem em dispositivos móveis */
  border-radius: 4px;
  margin: 20px;
  width: 80%;
}

.responsive-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  font-size: 0.9em;
}

.header-cell-one, .header-cell-two, .header-cell-three {
  background-color: var(--color-primary);
  text-transform: capitalize;
  padding: 10px;
  border: none;
  text-align: left;
}

.header-cell-one {
  border-radius: 12px 0 0px 0px;
}

.header-cell-three {
  border-radius: 0 12px 0 0;

}

.data-cell {
  padding: 10px;
  text-align: left;
}


.responsive-table thead tr {
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  border:none
}


.responsive-table th,
.responsive-table td {
  padding: 12px 15px;
  border: none;
}

.responsive-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}



// Responsividade

@media screen and (max-width:768px) {
  table {
    width: 560px !important;
  }

  table td,
  table th {
    width: 25%;
  }

}


@media screen and (max-width:468px) {
  .header-content {
    flex-direction: column !important;
    align-items: flex-start !important;

    gap: 12px;

    .info {
      flex-direction: column !important;
      align-items: left !important;

      img {
        display: none;
      }
    }
  }
}


.card {
  padding: 0 298px 28px;
}


@media screen and (max-width: 1375px) and (min-width: 1275px) {
  .card {
    padding: 0 248px 28px;
  }
}

@media screen and (max-width: 1275px) and (min-width: 1175px) {
  .card {
    padding: 0 180px 28px;
  }
}

@media screen and (max-width: 1175px) and (min-width: 1075px) {
  .card {
    padding: 0 140px 28px;
  }
}

@media screen and (max-width: 1075px) and (min-width: 992px) {
  .card {
    padding: 0 128px 28px;
  }
}

@media screen and (max-width: 992px) {
  .card {
    padding: 0 28px 28px;
  }
}
